# ROS 2
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo

# Models / TensorRT
*.pt
*.pth
*.onnx
*.engine

# Detection outputs
detections/
runs/

# Runtime logs/data
logs/
*.csv

# VS Code
.vscode/

# OS
.DS_Store
